---
import RootLayout from "./RootLayout.astro";
import TheHeader from "../components/TheHeader.astro";
import { Icon } from "astro-icon/components";
import TheNavLinks from "../components/TheNavLinks.vue";
import TheLogo from "../components/TheLogo.vue";
import { useMobileBack } from "../conf";

const { title, pageTitle, hideHeader, noPadding, extraPageCls, extraMainCls } =
    Astro.props;
const hideH = hideHeader ?? false;
let pageCls = "w-full h-full";
if (extraPageCls) {
    pageCls = pageCls + " " + extraPageCls;
}
let mainCls = "h-full w-full";
if (!noPadding) {
    mainCls = mainCls + " p-3";
}
if (extraMainCls) {
    mainCls = mainCls + " " + extraMainCls;
}
---

<RootLayout title={title}>
    <div id="pagetop" class={pageCls}>
        <TheHeader hideHeader={hideH}>
            <div slot="logo" class="ml-5">
                <TheLogo
                    client:only
                    pageTitle={pageTitle}
                    mobileBack={useMobileBack}
                />
            </div>
            <TheNavLinks isMobile="1" slot="mobile-links" client:only />
            <TheNavLinks isMobile="" slot="links" client:only />
            <!-- this slog is optional -->
            <div slot="menu-icon">
                <button class="btn menu-toggle">
                    <Icon name="menu" size={"1.8rem"} />
                </button>
            </div>
        </TheHeader>
        <div class={mainCls}>
            <slot />
        </div>
    </div>
</RootLayout>
