---
import RootLayout from "./RootLayout.astro";
import TheHeader from "../components/TheHeader.astro";
import { Icon } from "astro-icon/components";
import TheNavLinks from "../components/TheNavLinks.astro";
import TheLogo from "../components/TheLogo.vue";
import { useMobileBack } from "../conf";

const { title, hideHeader, hideFooter, noPadding, extraPageCls, extraMainCls } =
    Astro.props;
const hideH = hideHeader ?? false;
const hideF = hideFooter ?? false;
let pageCls = "w-full h-full flex flex-col";
if (extraPageCls) {
    pageCls = pageCls + " " + extraPageCls;
}
let mainCls = "h-full w-full pt-16 flex flex-col";
if (!noPadding) {
    mainCls = mainCls + " p-3";
}
if (extraMainCls) {
    mainCls = mainCls + " " + extraMainCls;
}
---

<RootLayout title={title} hideFooter={hideF}>
    <div class={pageCls}>
        <TheHeader hideHeader={hideH}>
            <div slot="logo" class="ml-5">
                <TheLogo
                    client:only
                    pageTitle={title}
                    mobileBack={useMobileBack}
                />
            </div>
            <div slot="menu-icon">
                <button class="btn menu-toggle sm:hidden">
                    <Icon name="menu" size={"1.8rem"} />
                </button>
            </div>
        </TheHeader>
        <div class={mainCls}>
            <slot />
        </div>
    </div>
</RootLayout>
